body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #333;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #007BFF, #00c6ff);
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

/* PROJECTS */
.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card i {
    font-size: 30px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    padding: 10px;
}